@media screen and (max-width: 1024px) {
    .btn_menu {
        display: flex;
    }

    .menu_app {
        position: absolute;
        height: 100vh;
        z-index: 10;
        top: 0;
        right: -50%;
        width: 50%;
        background: rgba(52, 58, 64, 0.9);
        transition: all 1.5s ease;
    }

    .menu {
        margin-top: 56px;
        padding: 10px;
        align-items: flex-end;
    }

    .menu_app.show {
        right: 0;
    }

    #buscador {
        width: 100%;
    }

    .menu li {
        width: 100%;
    }
    .menu li a {
        width: 100%;
        text-align: right;
        padding-right: 0px;
    }

    .dropdown-menu {
        width: 100%;
    }

    .search_li {
        background: none;
    }

    .dropdown-menu {
        background: none;
    }

    .data-user {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 414px) {
    .nickname {
        font-size: 10px;
    }
}
